
#mainContainer {
    -webkit-box-shadow: 2px 1px 79px 5px rgba(0,0,0,0.84);
    -moz-box-shadow: 2px 1px 79px 5px rgba(0,0,0,0.84);
     box-shadow: 2px 1px 79px 5px rgba(0,0,0,0.84);
}

@media (min-width: 1440px) {

    #mainContainer {
        width: 1440px;
        margin: auto;
    }

}

@media (min-width: 1280px) and (max-width: 1439px) {

    #mainContainer {
        width: 1280px;
        margin: auto;
    }

}

@media (min-width: 1024px) and (max-width: 1279px) {

    #mainContainer {
        width: 1024px;
        margin: auto;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    #mainContainer {
        width: 768px;
        margin: auto;
    }

}

@media (min-width: 320px) and (max-width: 767px) {

    #mainContainer {
        width: 100%;
    }

}